<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true"/>
  <sources>  
      <source name="verboseTest"  switchValue="Verbose">  
        <listeners>  
          <add name="vbListener" />  
        </listeners>  
      </source>  
    <source name="ExTest" >
      <listeners>
        <add name="ExListen"/>
        <add name="infoListener"/>
      </listeners>
    </source>
      <source name="infoTest" switchValue="Information">
        <listeners>
          <add name="infoListener"/>
        </listeners>
      </source>
      <source name="WarnTest" switchValue="Warning">
        <listeners>
          <add name="warnListener"/>
        </listeners>
      </source>
      <source name="ErrorTest" switchValue="Error">
        <listeners>
        <add name="errorListener"/>
        <add name="EV"/>
        </listeners>
      </source>
  <source name="ExTest">
        <listeners>
          <add name="errorListener"/>
        <add name="EV"/>
        </listeners>
  </source>
    </sources>  
  <sharedListeners>
    <add name="console" type="System.Diagnostics.ConsoleTraceListener" >
      <filter type="System.Diagnostics.EventTypeFilter"
        initializeData="Warning" />
    </add>
    
    <add name="infoListener" type="System.Diagnostics.TextWriterTraceListener"
         initializeData="Info.txt"
         traceOutputOptions="DateTime"/>
    <add name="vbListener" type="System.Diagnostics.TextWriterTraceListener"
         initializeData="Verbose.txt"
         traceOutputOptions="DateTime"/>
    <add name="warnListener" type="System.Diagnostics.TextWriterTraceListener"
         initializeData="Warning.txt"
         traceOutputOptions="Callstack"/>

    <add name="errorListener" type="System.Diagnostics.TextWriterTraceListener"
         initializeData="Error.txt"
         traceOutputOptions="Callstack">
         <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
    </add>
   <add name="ExListen" type="System.Diagnostics.TextWriterTraceListener"
         initializeData="Exception.txt"/>
   <add name="EV"
          type="System.Diagnostics.EventLogTraceListener"
          initializeData="TMP" />
   
  
  </sharedListeners>
</system.diagnostics>
</configuration>